.about-wrapper {
  position: relative;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.about {
  position: relative;
  top: 1.5em;
  bottom: 1.5em;
  background-color: #ccc;
  height: 80%;
  width: 80%;
  padding: 1em;
  margin: 0 auto;
  border-radius: 10px;
}

/* Blurred Overlay */

.overlay {
  position: relative;
  z-index: 1001;
  backdrop-filter: blur(5px);
}    

@supports not (backdrop-filter: blur(5px)) {
  .overlay {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.253);
  }    
}

.about .closing-nav {
  position: sticky;
}

.about header {
  text-align: center;
  margin: 2em 0 3em 0;
}

.about header img {
  display: block;
  margin: 0 auto;
}

.about h1, .about h2, .about h3 {
  text-align: center;
}

.about p, .about li {
  line-height: 1.5em;
}

.about ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

.about__flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about img {
  display: block;
}

@media screen and (max-width: 767px) {
  .about img {
    width: 120px;
   }  
}

@media only screen and (min-width: 768px) {
  .about {  
    max-width: 60%;
    margin: 0 auto;
  }
}