.about-wrapper {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  backdrop-filter: blur(5px);
  transition: all 0.3s linear;
}

.about {
  background-color: #ccc;
  height: 90%;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 5px 16px 0px #000, 5px 5px 15px 5px rgba(0,0,0,0);
  overflow-y: scroll;
 /* Hide scroll bar for IE, Edge, and Firefox */
 -ms-overflow-style: none; /* IE and Edge */
 scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.about::-webkit-scrollbar {
  display: none;
}

@supports not (backdrop-filter: blur(5px)) {
  .about-wrapper {
      background-color: rgba(255, 255, 255, 0.253);
  }    
}

@media only screen and (min-width: 768px) {
  .about {  
    max-width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  .about {
    max-width: 50%;  
  }
}

@media screen and (max-height: 800px) {
  .about {
    height: 85%
  }  
}

.about div {
  padding:0 1em;
}

.about .closing-nav {
  position: sticky;
}

.about header {
  text-align: center;
  padding-top: 0;
}

.about header img {
  display: block;
  margin: 0 auto;
}

.about h1, .about h2, .about h3 {
  text-align: center;
}

.about p, .about li {
  line-height: 1.5em;
}

.about ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

.about__flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about img {
  margin-top: 1em;
  display: block;
  max-width: 400px;
}

@media screen and (max-width: 767px) {
  .about img {
    max-width: 200px;
   }  
}