.search-wrapper {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  backdrop-filter: blur(5px);
  transition: all 0.3s linear;
}

.search {
  background-color: #ccc;
  height: 50%;
  width: 80%;
  /* padding: 1em; */
  margin: 0 auto;
  box-shadow: 0px 5px 16px 0px #000, 5px 5px 15px 5px rgba(0,0,0,0);
  border-radius: 10px;
  overflow-y: scroll;
 /* Hide scroll bar for IE, Edge, and Firefox */
 -ms-overflow-style: none; /* IE and Edge */
 scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.search::-webkit-scrollbar {
  display: none;
}

@supports not (backdrop-filter: blur(5px)) {
  .search-wrapper {
      background-color: rgba(255, 255, 255, 0.253);
  }    
}

@media only screen and (min-width: 768px) {
  .search {  
    max-width: 40%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  .search {
    max-width: 20%;
    max-height: 30%;  
  }
}

@media only screen and (min-width: 2560px) {
  .search {
    width: 20%;  
    height: 30%;  
  }
  .search-wrapper {
    padding-top: 10%;
  }
}

@media only screen and (min-width: 1025px) {
  .search {
    max-width: 40%;  
    max-height: 60%;  
  }
}


@media screen and (max-height: 800px) {
  .search {
    height: 70%
  }  
}

.search .closing-nav {
  position: relative;
}

.search header {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.search header img {
  display: block;
  margin: 0 auto;
}

.search h1, .search h2, .search h3 {
  text-align: center;
}

.search p {
  line-height: 1.5em;
  margin: 0 1em;
}

.search img {
  display: block;
}