.change-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .change-password h1 {
    text-align: center;
    margin: 2em 0 3em 0;
  }
  
  .change-password p {
    text-align: center;
  }
  
  .change-password form {
    display: inline-flex;
    flex-direction: column;
  }
  
  .change-password input {
    width: 150px;
    padding-top: .5em;
    margin-top: .25em;
  }
  
  .change-password label {
    margin-top: .5em;
  }
  
  .change-password__buttons {
    display: flex;
  }
  
  .change-password__buttons button {
    margin-top: 2em;
    margin-right: 1em;
  }
  
  
  @media only screen and (min-device-width: 768px) {
    .change-password {  
      max-width: 70%;
      margin: 0 auto;
    }
  }
  
  