.delete-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  }
  
  .delete-account h1 {
    text-align: center;
    margin: 2em 0 3em 0;
  }
  
  .delete-account p {
    text-align: center;
  }
  
  .delete-account__buttons {
    display: flex;
  }
  
  .delete-account__buttons button {
    margin-top: 2em;
    margin-right: 1em;
  }
  
  @media only screen and (min-device-width: 768px) {
    .delete-account {  
      max-width: 70%;
      margin: 0 auto;
    }
  }
  
  