.edit-email {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.edit-email h1 {
  text-align: center;
  margin: 2em 0 3em 0;
}

.edit-email p {
  text-align: center;
}

.edit-email form {
  display: inline-flex;
  flex-direction: column;
}

.edit-email input {
  width: 150px;
  padding-top: .5em;
  margin-top: .25em;
}

.edit-email label {
  margin-top: .5em;
}

.edit-email__buttons {
  display: flex;
}

.edit-email__buttons button {
  margin-top: 2em;
  margin-right: 1em;
}


@media only screen and (min-device-width: 768px) {
  .edit-email {  
    max-width: 70%;
    margin: 0 auto;
  }
}

