.export-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  }
  
  .export-data h1 {
    text-align: center;
    margin: 2em 0 3em 0;
  }
  
  .export-data p {
    text-align: center;
  }
  
  .export-data__buttons {
    display: flex;
  }
  
  .export-data__buttons button {
    margin-top: 2em;
    margin-right: 1em;
  }
  
  @media only screen and (min-device-width: 768px) {
    .export-data {  
      max-width: 70%;
      margin: 0 auto;
    }
  }
  
  