/* style for adjusting offset instead of div height 
.HUD {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 98;
  bottom: -67vh;
  overflow-y: hidden;
  transition: 0.5s;
  background-color: #aaa;
} */

.HUD {
  width: 100%;
  height: 33vh;
  position: fixed;
  z-index: 98;
  bottom: 0px;
  overflow: hidden;
  transition: 0.5s;
  background-color: #aaa;
}


.HUD__pill-button {
  background-color: #ddd;
  border: none;
  padding: 3px 15px;
  display: block;
  margin: .5em auto 1em auto;
  cursor: pointer;
  border-radius: 16px;
}

.HUD__pill-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.HUD__pill-button:hover {
  background-color: #f1f1f1;;
}

.HUD__tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.HUD__tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.HUD__tab button:hover {
  background-color: #ddd;
}

.HUD__tab button.active {
  background-color: #ccc;
}

.HUD__tab__tabcontent {
  /* position: absolute; */
  display: none;
  padding: 6px 12px;
  max-height: 80%;
  /* width: 97%; */
  overflow-y: scroll;
}