.HUD {
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 2;
  bottom: 0px;
  transition: 0.5s;
  background-color: #fff;
}

@media only screen and (max-height: 400px) {
  .HUD {
    bottom: -1000px;
  }
}

.HUD__button-container {
  display: flex;
  justify-content: center;
  margin-top: -3px;
}

.HUD__expand-button,
.HUD__contract-button {
  background-color: #ddd;
  border: none;
  padding: 3px 15px;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 16px;
}

.HUD__expand-button {
  margin: 0.5em 0.5em 0.5em 0;
  font-weight: bold;
}

.HUD__contract-button {
  margin: 0.5em 0 0.5em 0.5em;
  font-weight: bold;
}

.HUD__expand-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  height: 25px;
}

.HUD__contract-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: 25px;
}

.HUD__expand-button:hover,
.HUD__contract-button:hover {
  background-color: #f1f1f1;
}

.HUD__nav {
  position: relative;
  z-index: 3;
  background-color: #aaa;
  box-shadow: 0px 10px 13px -7px #707070, 5px 5px 15px 5px rgba(0,0,0,0);}

.HUD__tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 35px;
  align-items: center;
}

.HUD__tab button {
  display: flex;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 4px 35px;
  transition: 0.3s;
}

.HUD__tab button:hover {
  background-color: #ddd;
}

.HUD__tab button.active {
  background-color: #ccc;
}

.HUD__tabcontent__container {
  --HUD__nav-height: 64px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - var(--HUD__nav-height));
}

@media only screen and (min-width: 768px) {
  .HUD__tabcontent__container {
    max-width: 70%;
    margin: 0 auto;
  }
}

.HUD__tabcontent {
  padding: 6px 12px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  /* Hide scroll bar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.HUD__tabcontent::-webkit-scrollbar {
  display: none;
}

.HUD__tabcontent--visible {
  visibility: visible;
  z-index: 2;
  height: 100%;
  padding: 6px 12px;
}

.HUD__tabcontent--hidden {
  visibility: hidden;
  z-index: -1;
  height: 0;
  padding: 0;
}
