.HUD {
  position: fixed;
  width: 100%;
  height: 33vh;
  z-index: 98;
  bottom: 0px;
  overflow: hidden;
  transition: 0.5s;
  background-color: #aaa;
}

.HUD__pill-button {
  background-color: #ddd;
  border: none;
  padding: 3px 15px;
  display: block;
  margin: .5em auto 1em auto;
  cursor: pointer;
  border-radius: 16px;
}

.HUD__pill-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.HUD__pill-button:hover {
  background-color: #f1f1f1;;
}

.HUD__nav {
  position: relative;
  z-index: 99;
  background-color: #aaa;
}

.HUD__tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.HUD__tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.HUD__tab button:hover {
  background-color: #ddd;
}

.HUD__tab button.active {
  background-color: #ccc;
}

.HUD__tabcontent__container {
  --HUD__nav-height: 64px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - var(--HUD__nav-height));
}

.HUD__tabcontent {
  display: none;
  padding: 6px 12px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  /* Hide scroll bar for IE, Edge, and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.HUD__tabcontent::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
