@keyframes ldio-dqv824t303l {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-dqv824t303l div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-dqv824t303l linear 1.0869565217391304s infinite;
  background: #042258;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-dqv824t303l div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9963768115942028s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.9057971014492753s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.8152173913043478s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.7246376811594202s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.6340579710144927s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5434782608695652s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.45289855072463764s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3623188405797101s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.2717391304347826s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.18115942028985504s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.09057971014492752s;
  background: #042258;
}.ldio-dqv824t303l div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #042258;
}
.loadingio-spinner-spinner-j2k3qldj4n {
  position: relative;
  z-index: 1;
  top: 30px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  background: #ffffff24;
}
.ldio-dqv824t303l {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dqv824t303l div { box-sizing: content-box; }
/* generated by https://loading.io/ */