.menu {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  right: -250px;
  z-index: 4;
  background-color: #ddd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.menu a {
  display: block;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}

@media screen and (max-width: 550px) {
  .menu {
    width: 150px;
  }
  .menu a {
    font-size: 16px;
  }
}

.menu a:hover {
  color: #f1f1f1;
}

.menu__closebtn {
  position: absolute;
  font-size: 1.25em;
  padding: .25em .5em;
  top: 5px;
  right: 15px;
  border: none;
}

.menu hr {
  width: 80%;
}

.openbtn:hover {
  background-color:#ddd;
}
