.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25em 0;
  background-color: #aaa;
}

.nav img {
  margin-left: 15px;
}

.nav button {
  font-size: 1.25em;
  padding: .25em .5em;
  margin-right: 15px;
  cursor: pointer;
  border: none;
}

.nav button:hover {
  background-color:#ddd;
}
