/* 
  Add cushion before property list items so they
  don't headbutt browser when linked to 
*/
.properties .goto::before {
  display: block; 
  content: " "; 
  margin-top: -20px; 
  height: 20px; 
  visibility: hidden; 
  pointer-events: none;
}

.properties, ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

.properties__flex-container {
  display: flex;
  align-items: center;
}

.properties img {
  width: 200px;
  height: 125px;
  object-fit: cover;
  margin-right: 2em;
}

.properties__img-container {
  position: relative;
}

.properties .addRemove-button {
  position: absolute;
  top: 0px;
  left: 480px;
}

.properties__locate-button {
  position: absolute;
  top: 40px;
  left: 480px;
  background-color: rgba(255, 255, 255, 0.563);
  border-radius:50%;
  padding: .5em .5em .2em .5em;
  border: none;
  font-size: 1em;
  text-decoration: none;
}

.properties__locate-button:hover {
  background-color: rgb(245, 242, 242);
  transition: .2s;
}

@media screen and (max-width: 350px) {
  .properties img {
    width: 100px;
    height: 75px;
  }

  .properties p {
    font-size: .8em;
  }

  .properties .addRemove-button {
    top: -7px;
    left: 225px;
  }

  .properties__locate-button {
    top: -7px;
    left: 265px;
  }
  
}

@media screen and (min-width: 351px) and (max-width: 420px) {
  .properties img {
    width: 100px;
    height: 75px;
  }

  .properties p {
    font-size: .8em;
  }

  .properties .addRemove-button {
    left: 305px;
  }

  .properties__locate-button {
    left: 305px;
  }
  
}

@media screen and (min-width: 421px) and (max-width: 767px) {
  .properties img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }  
}

.properties p {
  font-weight: bold;
  margin-top: 0;
}

.properties hr {
  width: 100%;
  margin: 1em auto;
  flex-direction: column;
}

.properties li:last-child hr {
  display: none;
  margin-bottom: 1em;
}

.properties .properties__flex-container:last-of-type {
  margin-bottom: 1em;
}