.property-profile {
  margin: 0 1em;
  text-align: left;
}

.property-profile .carousel-container {
  position: relative;  
}

.property-profile .carousel-container .addRemove-button {
  position: absolute;
  right: 5px;
  top: 5px;
  background: rgba(255, 255, 255, 0.453);
  border-radius:50%;
  padding: .5em .75em;
  border: none;
  font-size: 1em;
  text-decoration: none;
}

@media only screen and (min-device-width: 768px) {
  .property-profile .carousel-container .addRemove-button {
    font-size: 1.5em;
    padding: .25em .5em
  }
}

.property-profile .carousel-container .addRemove-button:hover {
  background-color: rgb(245, 242, 242);
  transition: .2s;
}

.property-profile .carousel-container .add-button {
  color: black;
}

.property-profile .carousel-container .remove-button {
  color: red;
}

@media only screen and (min-device-width: 768px) {
  .property-profile {  
    max-width: 70%;
    margin: 0 auto;
  }
  .property-profile .carousel-container .addRemove-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 28px;
  }
  
}

max-width: 70%;
margin: 0 auto;


.property-profile p {
  margin-top: .5em;
  padding-top: 0;
}

.property-profile h1 {
  text-align: center;
  margin: 2em 0 3em 0;
}

.property-profile__price {
  padding-top: 0;
  margin-left: 0.25em;
  font-size: 1.5em;
  font-weight: bold;
}

.property-profile__address {
  font-weight: bold;
  margin-left: .25em;
}

.property-profile__info {
  margin: 1em .25em 0 .25em;
}

.property-profile__basic-stats {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  text-align: center;
  max-width: 600px;
}

.property-profile__description {
  margin-top: 1em;
}
