.properties, ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

.properties ul {
  display: flex;
  flex-flow: row wrap;
}

.properties img {
  width: 200px;
  height: 125px;
  object-fit: cover;
}

.properties p {
  font-weight: bold;
}

.properties hr {
  width: 80%;
  margin: 1em auto;
}

.properties li:last-child hr {
  display: none;
  margin-bottom: 1em;
}

.properties li:last-child {
  margin-bottom: 1em;
}