.properties, ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

.properties__flex-container {
  display: flex;
  align-items: center;
}

.properties img {
  width: 200px;
  height: 125px;
  object-fit: cover;
  margin-right: 2em;
}

.properties__img-container {
  position: relative;
}

.properties .addRemove-button {
  position: absolute;
  top: 0px;
  left: 440px;
}

@media screen and (max-width: 420px) {
  .properties img {
    width: 100px;
    height: 75px;
  }

  .properties p {
    font-size: .8em;
  }

  .properties .addRemove-button {
    top: -7px;
    left: 260px;
  }
  
}

@media screen and (min-width: 421px) and (max-width: 767px) {
  .properties img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }  
  .properties .addRemove-button {
    left: 350px;
  }
}

.properties p {
  font-weight: bold;
  margin-top: 0;
}

.properties hr {
  width: 100%;
  margin: 1em auto;
  flex-direction: column;
}

.properties li:last-child hr {
  display: none;
  margin-bottom: 1em;
}

.properties .properties__flex-container:last-of-type {
  margin-bottom: 1em;
}