.properties, ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

.properties img {
  width: 200px;
  height: 125px;
  object-fit: cover;
}

.properties p {
  font-weight: bold;
}

.properties hr {
  width: 80%;
  margin: 1em auto;
}