.property-profile {
  text-align: left;
}

.property-profile p {
  margin-top: 0.5em;
  padding-top: 0;
}

.property-profile h1 {
  text-align: center;
}

.property-profile header {
  margin: 0;
}

.property-profile__price {
  padding-top: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.property-profile__address {
  font-weight: bold;
}

.property-profile__info {
  margin: 1em 1em 0 1em;
}


.property-profile__basic-stats-container {
  background-color: #eee;
  padding: 0.1em 1em 1.5em 1em;
}

.property-profile__basic-stats {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  text-align: center;
  max-width: 700px;
}

@media only screen and (min-width: 900px) {
  .property-profile__info {
    max-width: 70%;
    margin: 1em auto;
  }
  .property-profile__basic-stats-container {
    max-width: 70%;
    margin: 0 auto;
  }
  .property-profile header {
    margin-bottom: 1em;
  }
}

.property-profile__description {
  margin-top: 1em;
}
