.saved-properties h1 {
  text-align: center;
}

.saved-properties ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

.saved-properties__flex-container {
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.saved-properties img {
  width: 200px;
  height: 125px;
  object-fit: cover;
}

.saved-properties__img-container {
  position: relative;
}

.saved-properties-info {
  margin-left: 2em;
}


.saved-properties .addRemove-button {
  position: absolute;
  top: 10px;
  left: 500px;
}

@media screen and (max-width: 350px) {
  .saved-properties-info {
    margin-left: 1em;
  }
}

@media screen and (max-width: 560px) {
  .saved-properties img {
    width: 140px;
    height: 160px;
    object-fit: cover;
  }  
  .saved-properties .addRemove-button {
    top: 5px;
    left: 100px;
  }
}

.saved-properties p {
  font-weight: bold;
}

.saved-properties hr {
  width: 70%;
  margin: 1em auto;
}

.saved-properties li:last-child hr {
  display: none;
  margin-bottom: 1em;
}

.saved-properties .saved-properties__flex-container:last-of-type {
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .saved-properties__flex-container {
    max-width: 70%;
    margin: 0 auto;
  }
}