.stats {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

.stats table {
  margin-bottom: 1em;
}

.stats table td {
  padding:.5em;
}

.stats td, th { 
  border: 1px solid rgb(233, 221, 221);
}

.stats th {
  display: table-cell;
  text-align: center;
  vertical-align: center;
}

.stats__table-list li {
  margin-top: .5em;
}

.stats__table-list li:first-child {
  margin-top: 0;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1023px)  {

	/* Force table to not be like tables anymore */
	.stats table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.stats th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.stats tr { 
    border: 1px solid rgb(233, 221, 221);
  }
	
	.stats table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
    position: relative;
    padding-right: 0;
		padding-left: 25%; 
	}
	
	.stats td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 4px;
		left: 6px;
    width: 45%;
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.stats td:nth-of-type(1):before { content: "CT"; font-weight: bold; }
	.stats td:nth-of-type(2):before { content: "MSA"; font-weight: bold;  }
	.stats td:nth-of-type(3):before { content: "USA"; font-weight: bold;  }
}
