.carousel {
  position: relative;
  min-width: 100%; 
  padding:0;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  height: 39vh;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

@media all and (min-width: 900px) {
  .carousel img {
    height: 45vh;
    object-fit: contain;
  }
}

.carousel .inactive-slide {
  display: none;
}

.carousel .active-slide {
  display: block;
}

.carousel__button-container {
  top: 40%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.carousel button {
  font-size: 1.75em;
  text-decoration: none;
  color: black;
  padding: .2em .5em;
  border: 1px;
  background: rgba(255, 255, 255, 0.453);
  border-radius:50%;
}

.carousel button:hover {
  background-color: rgb(245, 242, 242);
  color: black;
  transition: .2s;
}

.carousel button:first-of-type {
  position: absolute;
  left: 50px;
}
.carousel button:last-of-type {
  position: absolute;
  right: 50px;
}

.carousel-container {
  position: relative;  
}

.carousel-container .addRemove-button {
  position: absolute;
  right: 49px;
  top: 5px;
  background: rgba(255, 255, 255, 0.453);
  border-radius:50%;
  border: none;
  font-size: 1.2em;
  padding: .5em .75em;
  text-decoration: none;
}

@media all and (max-width: 900px) {
  .carousel button:first-of-type {
    position: absolute;
    left: 15px;
  }
  .carousel button:last-of-type {
    position: absolute;
    right: 15px;
  }  
  .carousel-container .addRemove-button {
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 13px;
  }
}

.carousel-container .addRemove-button:hover {
  background-color: rgb(245, 242, 242);
  transition: .2s;
}

.carousel-container .add-button {
  color: black;
}

.carousel-container .remove-button {
  color: red;
}