body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Temporary */
  background-color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.closing-nav {
  text-align:right;
  height: 4em;
}

.closing-nav button {
  position: absolute;
  top: .30em;
  right: .4em;
  font-size: 1.75em;
  text-decoration: none;
  color: black;
  padding: .2em .5em;
  border: 0;
  background: none;
}

.closing-nav a:hover {
  background-color: #ccc;
  color: white;
}