body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 
  'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;

  /* Temporary */
  background-color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2em;
}

.closing-nav {
  text-align:right;
  height: 4em;
}

.closing-nav button {
  position: absolute;
  top: .30em;
  right: .4em;
  font-size: 1.75em;
  text-decoration: none;
  color: black;
  padding: .2em .5em;
  border: 0;
  background: none;
}

.closing-nav button:hover {
  background-color: #ccc;
  color: white;
}

.addRemove-button {
  background: rgba(255, 255, 255, 0.563);
  border-radius:50%;
  padding: .5em .75em;
  border: none;
  font-size: 1em;
  text-decoration: none;
}

.addRemove-button:hover {
  background-color: rgb(245, 242, 242);
  transition: .2s;
}

.add-button {
  color: black;
}

.remove-button {
  color: rgb(192, 4, 4);
}
