@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 
  'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

header {
  background-color: #aaa;
  padding: 2em 0 3em 0;
  margin: 0 0 1em;
  text-align: center;
}

.closing-nav {
  text-align:right;
  height: 4em;
  background-color: #aaa;
}

.closing-nav button {
  position: absolute;
  top: .30em;
  right: .4em;
  font-size: 1.75em;
  text-decoration: none;
  color: black;
  padding: .2em .5em;
  border: 0;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.closing-nav button:hover {
  background-color: #ccc;
  color: white;
}

.addRemove-button {
  background: rgba(255, 255, 255, 0.563);
  border-radius:50%;
  padding: .5em .5em .2em .5em;
  border: none;
  font-size: 1em;
  text-decoration: none;
}

.addRemove-button:hover {
  background-color: rgb(245, 242, 242);
  transition: .2s;
}

.add-button {
  color: rgb(0, 0, 0);
  fill:rgb(0, 0, 0);
}

.remove-button {
  color: rgb(192, 4, 4);
  fill:rgb(192, 4, 4);
}

.no-info-msg {
  border: 2px solid black;
  text-align: center;
  margin-top: 1.5em;
  padding: 1em 1em;
  background-color: #ddd;
  font-weight: bold;
  border-radius: 5px;
}
